body {
  font-family: 'NanumBarunGothic', sans-serif;
}

main {
  min-height: calc(100vh - 232px);  
}

.list-cover {
  overflow: hidden;
  max-width: 840px;
  margin: 60px auto;
  min-height: 240px;
}